body {
    margin: 0;
}

.gameScreen{
    position: relative;
    justify-content: space-evenly;

}

.opponentIndicatorWrapper,
.selfIndicatorWrapper {
    text-align: center;
    
}



.opponentIndicator,
.selfIndicator {
    display: inline-block;
    height: 5vh;
    width: 30vw;
    margin: 2vh 0 2vh 0;
    border: 2px black solid;

}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}

.leftBoardPanel,
.rightBoardPanel {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.centerBoardPanel {
    display: inline-block;
}

.welcomeScreen{
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;

    color: white;
    font-size: 4rem;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.7);
}
